@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nova+Square&display=swap');

* {
  box-sizing: border-box;
}

.app {
  overflow: hidden;
}

#background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./img/background2.png"), url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./img/layer3.png"), url("./img/layer2.png"), url("./img/layer1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

.parallax-on {
  animation: 0.5s parallaxOn;
}

.parallax-off {
  animation: 0.5s parallaxOff;
  opacity: 0;
}

@keyframes parallaxOn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes parallaxOff {
  from {opacity: 1;}
  to {opacity: 0;}
}
