.header {
    z-index: 99;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 80%);
    font-family: 'Nova Square', cursive;
    display: flex;
    width: fit-content;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.header__item {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    font-size: 2rem;
    padding: 24px 48px;
    transition: 0.1s;
}

.header__item:hover {
    transform: scale(125%);
    color: rgb(252, 193, 0);
}